@media screen and (max-width: 767px) {
  .container {
    max-width: 335px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #e2e2e2;
  }

  .modal-container {
    /* position: absolute; */
    font-family: Montserrat, sans-serif;
    background: #fafafa;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 24px;
    max-width: 311px;
    height: 471;
  }

  .modal-form {
    width: 100%;
    position: relative;
  }

  .modal-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: -90px;
    right: 0;
    z-index: 1;
    background: transparent;
  }

  .close-modal-icon {
    position: absolute;
    top: 5px;
    right: 0;
    width: 22px;
    height: 22px;
  }

  .modal-main-title {
    margin-bottom: 32px;
    width: 100%;
    font-weight: 600;
    /* font-size: 20px; */
  }

  .text-span-1 {
    display: block;
    width: 75%;
  }

  .icon-span {
    position: absolute;
    color: #000000;
    left: 50px;
    top: 41px;
    z-index: 1;
    font-weight: 500;
    font-size: 14px;
  }

  .form-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 18px;
    top: 38px;
  }

  .form-input {
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    width: 263px;
    height: 45px;
    border-radius: 8px;
    padding-left: 18px;
    color: rgba(64, 64, 64, 0.3);
  }

  .form-input-2 {
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    width: 263px;
    height: 45px;
    border-radius: 8px;
    padding-left: 18px;
    display: block;
    margin-top: 14px;
    color: rgba(64, 64, 64, 0.3);
  }

  .form-input-3 {
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    width: 263px;
    height: 45px;
    border-radius: 8px;
    padding-left: 106px;
    position: relative;
    display: block;
    margin-top: 14px;
    color: rgba(64, 64, 64, 0.3);
  }

  .text-area {
    width: 263px;
    height: 91px;
    border-radius: 8px;
    resize: none;
    display: block;
    margin-top: 14px;
    color: rgba(64, 64, 64, 0.3);
    padding: 14px 18px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
  }

  .modal-send-button {
    width: 93px;
    height: 41px;
    margin-top: 18px;
    border-radius: 100px;
    border: 1px solid #fd9222;
  }
}
