@media screen and (min-width: 375px) and (max-width: 767px) {
  .container {
    max-width: 335px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    background: #e2e2e2;
  }

  .modal-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    padding: 32px 24px;
    max-width: 311px;
    height: 471;
  }
}
